header {
    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 40px 0;
    margin: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
    ;
  

}

nav {

    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 40px 0;
    margin: 150px;
    margin-bottom: 20px;
    margin-top: 10px;

}

body {

    background-color: #777;
}