header {
    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 40px;
    margin: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
  

}

nav {

    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 40px 0;
    margin: 150px;
    margin-bottom: 10px;
    margin-top: 10px;

}

body {

    background-color: #777;
}

section {

    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 150px 275px;
    margin: 500px 150px;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    position: relative;
    

}

article {

    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #ebebeb;
    padding: 30px 0px;
    margin: 90px 20px 20px 162px;
    
    position: absolute;
  


}
aside {

background-color: #ebebeb;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-size: 18px;
color: #777;
padding: 150px 247px;
margin: 20px 250px 10px 780px;
position: relative;

}

footer {

    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 40px 0;
    margin: 150px;
    margin-bottom: 10px;
    margin-top: 20px;
    float: bottom;


}

h1 {
    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 20px 190px 20px 190px;
    margin: 10px 60px 5px 60px;
    
}

p {
    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 20px 200px 20px 200px;
    margin: 10px 10px 5px 10px;



}