header {
    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 40px;
    margin: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
  

}

nav {

    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 40px 0;
    margin: 150px;
    margin-bottom: 10px;
    margin-top: 10px;

}

body {

    background-color: #777;
}

section {

    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 150px 275px;
    margin: 500px 150px;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    position: relative;

}

article {

    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #ebebeb;
    padding: 90px 250px;
    margin: 100px 100px 100px 180px;
    
    position: absolute;
  


}
aside {

background-color: #ebebeb;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-size: 18px;
color: #777;
padding: 150px 247px;
margin: 20px 250px 10px 780px;



}

footer {

    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #777;
    padding: 40px 0;
    margin: 150px;
    margin-bottom: 10px;
    margin-top: 20px;
    float: bottom;


}